// styles/_carousel.scss

.carousel-card {
    width: 100%;
    border: 1px solid #ddd; // Añade un borde sutil alrededor de la tarjeta
    border-radius: 10px; // Bordes redondeados
    overflow: hidden; // Para evitar que las imágenes salgan del contenedor
    transition: transform 0.3s ease-in-out; // Efecto de transición suave al hacer hover
  
    &:hover {
      transform: scale(1.05); // Efecto de escala al hacer hover
    }
  }
  
  .carousel-body {
    padding: 1rem; // Añade un relleno interno
  }
  
  .carousel-description {
    font-size: 1.2rem; // Tamaño de fuente más grande para la descripción
    color: #333; // Color de texto más oscuro
  }
  ///////////////
  /// 
  ///
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .background-gradient {
    background: linear-gradient(to right, #ff8a00, #da1b60);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: moveGradient 10s linear infinite;
  }
  
  .image-container {
    overflow: hidden;
    border-radius: 50%;
  }
  
  .loading-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 1;
  }
  
  .loading-text {
    text-align: center;
    color: #fff;
    z-index: 0;
    margin-top: 20px; // Ajusta según sea necesario
  }
  
  .spinner-container {
    display: flex;
    gap: 10px;
  }
  
  .spinner-item {
    width: 40px; // Ajusta según sea necesario
    height: 40px; // Ajusta según sea necesario
  }
  
  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  