@charset "UTF-8";
.fondo {
  background-color: #FDFEFE;
}

.caja {
  text-align: center;
  justify-content: center;
  display: flex;
}

p {
  font-size: 15px;
  color: red;
  margin-bottom: 5px;
}

.select {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select select {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: inset 10px 5px 25px 10px #9aceb6;
  padding-left: 20px;
  font-size: 18px;
}

.cajaLogin {
  font-family: "Century Gothic", sans-serif;
  width: 550px;
  height: 650px;
  box-shadow: 10px 1px 10px 5px rgb(18, 172, 108);
  padding-top: 38px;
  border-radius: 60px;
  background-color: #FDFEFE;
}
.cajaLogin .textos_normales p {
  font-size: 20px;
  color: black;
}
.cajaLogin .imgs {
  padding-top: 30px;
  justify-content: center;
  display: flex;
}
.cajaLogin input {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  box-shadow: inset 10px 5px 25px 10px #9aceb6;
  padding-left: 60px;
  font-size: 18px;
  margin-bottom: 20px;
}
.cajaLogin .tamañoImagenChavezPamba {
  height: 130px;
  width: 130px;
  border-radius: 130px;
}
.cajaLogin h2 {
  background: linear-gradient(to right, rgba(0, 255, 242, 0.671), rgb(255, 115, 0), green);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-bottom: 10px;
}
.cajaLogin .btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #47dfc0;
  color: rgb(26, 25, 25);
  font-size: 15px;
  box-shadow: inset 2px 4px 6px 0px rgba(1, 0, 0, 0.5);
  margin: 2%;
}
.cajaLogin .btn:hover {
  background-color: #20d46b;
}
.cajaLogin .iconos {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 5px 0.5px 5.5px 9px;
  border: none;
  outline: none;
}

.cajaRegistrarComo {
  font-family: "Century Gothic", sans-serif;
  width: 540px;
  height: 400px;
  box-shadow: 10px 1px 10px 5px rgb(18, 172, 108);
  padding-top: 38px;
  border-radius: 60px;
  background-color: #FDFEFE;
}
.cajaRegistrarComo .textos_normales p {
  font-size: 20px;
  color: black;
}
.cajaRegistrarComo .imgs {
  padding-top: 30px;
  justify-content: center;
  display: flex;
}
.cajaRegistrarComo input {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  box-shadow: inset 10px 5px 25px 10px #9aceb6;
  padding-left: 60px;
  font-size: 18px;
  margin-bottom: 20px;
}
.cajaRegistrarComo .tamañoImagenChavezPamba {
  height: 130px;
  width: 130px;
  border-radius: 130px;
}
.cajaRegistrarComo h2 {
  background: linear-gradient(to right, rgba(0, 255, 242, 0.671), rgb(255, 115, 0), green);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-bottom: 10px;
}
.cajaRegistrarComo .btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #47dfc0;
  color: rgb(26, 25, 25);
  font-size: 15px;
  box-shadow: inset 2px 4px 6px 0px rgba(1, 0, 0, 0.5);
  margin: 2%;
}
.cajaRegistrarComo .btn:hover {
  background-color: #20d46b;
}
.cajaRegistrarComo .iconos {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 5px 0.5px 5.5px 9px;
  border: none;
  outline: none;
}

.cajaRegistrarUsuario {
  font-family: "Century Gothic", sans-serif;
  width: 580px;
  height: 1190px;
  box-shadow: 10px 1px 10px 5px rgb(18, 172, 108);
  padding-top: 38px;
  border-radius: 60px;
  background-color: #FDFEFE;
}
.cajaRegistrarUsuario .textos_normales p {
  font-size: 20px;
  color: black;
}
.cajaRegistrarUsuario .imgs {
  padding-top: 30px;
  justify-content: center;
  display: flex;
}
.cajaRegistrarUsuario input {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  box-shadow: inset 10px 5px 25px 10px #9aceb6;
  padding-left: 60px;
  font-size: 18px;
  margin-bottom: 20px;
}
.cajaRegistrarUsuario .tamañoImagenChavezPamba {
  height: 130px;
  width: 130px;
  border-radius: 130px;
}
.cajaRegistrarUsuario h2 {
  background: linear-gradient(to right, rgba(0, 255, 242, 0.671), rgb(255, 115, 0), green);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-bottom: 10px;
}
.cajaRegistrarUsuario .btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #47dfc0;
  color: rgb(26, 25, 25);
  font-size: 15px;
  box-shadow: inset 2px 4px 6px 0px rgba(1, 0, 0, 0.5);
  margin: 2%;
}
.cajaRegistrarUsuario .btn:hover {
  background-color: #20d46b;
}
.cajaRegistrarUsuario .iconos {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 5px 0.5px 5.5px 9px;
  border: none;
  outline: none;
}

.cajaRegistrarEmpresa {
  font-family: "Century Gothic", sans-serif;
  width: 580px;
  height: 1150px;
  box-shadow: 10px 1px 10px 5px rgb(18, 172, 108);
  padding-top: 38px;
  border-radius: 60px;
  background-color: #FDFEFE;
}
.cajaRegistrarEmpresa .textos_normales p {
  font-size: 20px;
  color: black;
}
.cajaRegistrarEmpresa .imgs {
  padding-top: 30px;
  justify-content: center;
  display: flex;
}
.cajaRegistrarEmpresa input {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  box-shadow: inset 10px 5px 25px 10px #9aceb6;
  padding-left: 60px;
  font-size: 18px;
  margin-bottom: 20px;
}
.cajaRegistrarEmpresa .tamañoImagenChavezPamba {
  height: 130px;
  width: 130px;
  border-radius: 130px;
}
.cajaRegistrarEmpresa h2 {
  background: linear-gradient(to right, rgba(0, 255, 242, 0.671), rgb(255, 115, 0), green);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 35px;
  margin-bottom: 10px;
}
.cajaRegistrarEmpresa .btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #47dfc0;
  color: rgb(26, 25, 25);
  font-size: 15px;
  box-shadow: inset 2px 4px 6px 0px rgba(1, 0, 0, 0.5);
  margin: 2%;
}
.cajaRegistrarEmpresa .btn:hover {
  background-color: #20d46b;
}
.cajaRegistrarEmpresa .iconos {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 5px 0.5px 5.5px 9px;
  border: none;
  outline: none;
}/*# sourceMappingURL=loginstyle.css.map */