
//variables
$colo-fondopantalla:#FDFEFE;
$sombreado-cajagrande: 10px 1px 10px 5px rgb(18, 172, 108);
$estilo-letra: 'Century Gothic', sans-serif;
$tamano-letrainput: 18px;
$tamaño-caja-InputAncho:300px;
$tamaño-caja-InputLargo:50px;
$tamano-letraTitulos: 35px;
$tamaño-letraBotones:15px;

$Tamañp-letraTextoError:15px;
$Tamañp-letraTextoNormal:20px;
$colorBotonLogin:#47dfc0;
$ColorFondo-Caja:#FDFEFE;
$Tamaño-botonesancho:150px;
$Tamaño-botoneslargo:50px;




 







$tamaño-letra-Formularios:15px;
$color-primary:  #1287ec;
$color-secondary: #1287ec;
$color-danger: #ec5012;
$color-icon: #717171;
$color-border: #ced4da;
$color-focus: #80bdff;
$shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$focus-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

.mi-formulario {
  font-family: $estilo-letra;
  max-width: 590px;
  margin: auto;
  padding: 20px;
  background-color: rgb(248, 247, 247);
  border-radius: 10px;
  box-shadow: $shadow;

  .botones-centrados {
    display: flex;
    justify-content: center;
    gap: 20px; // Espacio entre botones
    margin-top: 20px; // Espacio entre los botones y los campos del formulario
    



  
  }
  h2{
    background: linear-gradient(to right, rgba(14, 224, 161, 0.671), rgb(255, 115, 0), green);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: $tamano-letraTitulos;
    margin-bottom: 10px; // Ajusta según sea necesario

  }

  
  .tamañoImagenChavezPamba{
    width: 150px; /* Ancho de la imagen */
    height: 150px; /* Altura de la imagen, igual al ancho para un círculo perfecto */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen cubra completamente el espacio sin deformarse */
    display: block; /* Asegura que la imagen sea un bloque para centrarla */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  .form-group {
    margin-bottom: 15px;
    
  }

  .input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .input-icon {
      position: absolute;
      left: 10px;
      color: $color-icon;
      
    }
    
    .large-input {
      height: 40px; /* Ajusta la altura según tus necesidades */
    width: 260px;
      padding: 10px 1px; /* Ajusta el espacio interior según tus necesidades */
    }
    .form-control {
      padding-left: 30px;
      border-radius: 5px;
      border: 1px solid $color-border;
      transition: border-color 0.3s;
      font-size: $tamaño-letra-Formularios;

      &:focus {
        border-color: $color-focus;
        outline: none;
        box-shadow: $focus-shadow;
      }
    }
  }
  p{
    font-size: $Tamañp-letraTextoError;
    color: red;
    margin-bottom: 5px; // Ajusta el margen inferior según sea necesario
  }
  .btn-primary {
 background-color: $color-primary; 

  
  }

  .btn-secondary {
    background-color: $color-secondary;
  }
  .btn-danger {
    background-color: $color-danger;
  }
}
@media (max-width: 991px)  {
  
    // Aquí puedes personalizar los estilos específicamente para pantallas medianas
   
    // Otros estilos específicos para pantallas medianas...

    .mi-formulario {
      max-width: 700px; // Ejemplo: cambiar el ancho máximo
      padding: 30px; // Ejemplo: aumentar el padding
      font-family: $estilo-letra;
      
      margin: auto;
     
      background-color: rgb(240, 239, 224);
      border-radius: 10px;
      box-shadow: $shadow;
    
      .botones-centrados {
        display: flex;
        justify-content: center;
        gap: 20px; // Espacio entre botones
        margin-top: 20px; // Espacio entre los botones y los campos del formulario
        
    
    
    
      
      }
      h2{
        background: linear-gradient(to right, rgba(14, 224, 161, 0.671), rgb(255, 115, 0), green);
        background-clip: text;
        color: transparent;
        text-align: center;
        font-size: $tamano-letraTitulos;
        margin-bottom: 10px; // Ajusta según sea necesario
    
      }
    
      
      .tamañoImagenChavezPamba{
        width: 150px; /* Ancho de la imagen */
        height: 150px; /* Altura de la imagen, igual al ancho para un círculo perfecto */
        border-radius: 50%; /* Hace que la imagen sea redonda */
        object-fit: cover; /* Asegura que la imagen cubra completamente el espacio sin deformarse */
        display: block; /* Asegura que la imagen sea un bloque para centrarla */
        margin: 0 auto; /* Centra la imagen horizontalmente */
      }
      .form-group {
        margin-bottom: 15px;
        
      }
    
      .input-icon-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    
        .input-icon {
          position: absolute;
          left: 10px;
          color: $color-icon;
          
        }
        
        
        .large-input {
          height: 40px; /* Ajusta la altura según tus necesidades */
        width: 260px;
          padding: 10px 1px; /* Ajusta el espacio interior según tus necesidades */
        }
        .form-control {
          padding-left: 30px;
          border-radius: 5px;
          border: 1px solid $color-border;
          transition: border-color 0.3s;
          font-size: $tamaño-letra-Formularios;
    
          &:focus {
            border-color: $color-focus;
            outline: none;
            box-shadow: $focus-shadow;
          }
        }
      }
      p{
        font-size: $Tamañp-letraTextoError;
        color: red;
        margin-bottom: 5px; // Ajusta el margen inferior según sea necesario
      }
      .btn-primary {
     background-color: $color-primary; 
    
      
      }
    
      .btn-secondary {
        background-color: $color-secondary;
      }
      .btn-danger {
        background-color: $color-danger;
      }
    }
  }


  ///CONTRASEÑAS
.password-field {
  position: relative;
  display: flex;
  align-items: center;

  .field-icon, .toggle-password-icon {
    position: absolute;
    color: $color-icon;
    cursor: pointer;
  }

  .field-icon {
    left: 10px;
  }

  .toggle-password-icon {
    right: 10px;
    margin-right: 10px; /* Ajusta según sea necesario */

  }
  .icon-wrapper {
    display: flex;
    align-items: center;
  }
  
 
  .password-input {
    width: 100%;
    padding-left: 30px; // Espacio para el icono de candado
    padding-right: 30px; // Espacio para el icono de ojo
    border-radius: 5px;
    border: 1px solid $color-border;
    font-size: $tamaño-letra-Formularios;

    &:focus {
      border-color: $color-focus;
      outline: none;
      box-shadow: $focus-shadow;
    }
  }

 
  
  .campo-formulario {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icono-formulario {
      position: absolute;
      left: 10px;
      color: #717171;
    }

    .input-con-icono {
      width: 100%;
      padding-left: 30px; // Asegura espacio para el ícono
      // Añade aquí más estilos para el input si lo deseas
    }
  }

  
}
//Institucion 

